.l-grid {
    display: grid;
    grid-template-columns: [bleed-start] minmax(0rem, 2rem) [main-start] repeat(12, 1fr) [main-end] minmax(0rem, 2rem) [bleed-end];

    @include media('>tablet') {
        // main-start to main-end must be fixed value in rem or pixels
        column-gap: toRem(20);
        grid-template-columns: [bleed-start] minmax(2rem, 1fr) [main-start] repeat(12, minmax(0, gridColtoRem(1300, 12))) [main-end] minmax(2rem, 1fr) [bleed-end];
    }
}

.l-grid-outter {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}

.l-grid-2-col {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(20);
    grid-template-columns: repeat(1, 1fr);

    @include media('>tablet') {
        grid-template-columns: repeat(2, minmax(0, gridColtoRem(1680, 2)));
    }
}

.l-grid-3-col {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(20);
    grid-template-columns: repeat(1, 1fr);

    @include media('>tablet') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media('>desktop') {
        grid-template-columns: repeat(3, minmax(0, gridColtoRem(1680, 3)));
    }
}

.l-grid-maincontent {
    @include font-size(1.5);
    grid-column: main-start / main-end;
    padding: $global-spacing-unit-large 0;
}
