// =============================================================================
// Type Styles
// =============================================================================

// Web Fonts
// -----------------------------------------------------------------------------
//
// Purpose: Web fonts used throughout the site
//
//
// 1. Avenir Next Bold
// 2. Avenir Next Light
// 3. Icomoon
//
// -----------------------------------------------------------------------------

// 1
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@mixin font-poppins() {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
// 3
@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?cwi28p');
    src: url('/fonts/icomoon.eot?#iefixcwi28p') format('embedded-opentype'), url('/fonts/icomoon.woff?cwi28p') format('woff'), url('/fonts/icomoon.ttf?cwi28p') format('truetype'),
        url('/fonts/icomoon.svg?cwi28p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Icon Fonts
// -----------------------------------------------------------------------------
//
// Purpose: Using icomoon for all our icon font needs
//
//
// 1.
//
// -----------------------------------------------------------------------------

.icomoon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
    content: '\e907';
}
.icon-facebook:before {
    content: '\ea91';
}
.icon-instagram:before {
    content: '\ea92';
}
.icon-twitter:before {
    content: '\ea97';
}
.icon-youtube:before {
    content: '\ea9d';
}
.icon-linkedin:before {
    content: '\eac9';
}
.icon-pinterest:before {
    content: '\ead1';
}
.icon-burger:before {
    content: '\e900';
}
.icon-close:before {
    content: '\e901';
}
.icon-arrow-down:before {
    content: '\e902';
}
.icon-arrow-left:before {
    content: '\e903';
}
.icon-arrow-right:before {
    content: '\e904';
}
.icon-arrow-up:before {
    content: '\e905';
}
.icon-tick:before {
    content: '\e906';
}
